{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card text-white bg-dark mb-5">
                <div class="card-header">
                    Team Name: team_{{ all_participants[0].nickname }}
                </div>
            </div>

            {% for i in range(2) %}
            {% if i%2 == 0 %}
            <div class="card text-white bg-dark">
                <div class="card-header">
                    {{ all_participants[i].nickname }}
                </div>
                <div class="container mb-2">
                    <a href="{{ all_participants[i].profile_url }}" target="_blank">Steam Profile</a>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-4">
            <div class="content-section bg-dark text-white" id="mapchosen" style="display: none;">
                <div class="overview">
                    <h3>Map Decided</h3>
                    <div class="card mb-4">
                        <button class="btn btn-primary" id="decidedmap" disabled></button>
                    </div>
                    <div class="card mb-4">
                        <a class="btn btn-primary" id="connect2server">Connect</a>
                    </div>
                </div>
            </div>
            {% if not match %}
            <div class="content-section bg-dark text-white" id="mapvetodiv">
                <div class="overview-section mb-5">
                    <h3> Map Veto </h3>
                </div>
                <div class="card mb-4">
                    <button class="btn btn-primary" id="mirage" onclick="banMap('mirage')" disabled>Ban Mirage</button>
                </div>
                <div class="card mb-4">
                    <button class="btn btn-primary" id="inferno" onclick="banMap('inferno')" disabled>Ban Inferno</button>
                </div>
                <div class="card mb-4">
                    <button class="btn btn-primary" id="overpass" onclick="banMap('overpass')" disabled>Ban Overpass</button>
                </div>
                <div class="card mb-4">
                    <button class="btn btn-primary" id="dust2" onclick="banMap('dust2')" disabled>Ban Dust 2</button>
                </div>
                <div class="card mb-4">
                    <button class="btn btn-primary" id="vertigo" onclick="banMap('vertigo')" disabled>Ban Vertigo</button>
                </div>
                <div class="card mb-4">
                    <button class="btn btn-primary" id="train" onclick="banMap('train')" disabled>Ban Train</button>
                </div>
                <div class="card mb-4">
                    <button class="btn btn-primary" id="nuke" onclick="banMap('nuke')" disabled>Ban Nuke</button>
                </div>
            </div>
            {% endif %}
            {% if match %}
            <div class="content-section bg-dark text-white" id="mapvetodiv">
                <div class="overview-section mb-5">
                    <h3> Map Veto </h3>
                </div>
                <div class="card mb-4">
                    <button class="btn btn-primary" id="mirage" onclick="banMap('mirage')">Ban Mirage</button>
                </div>
                <div class="card mb-4">
                    <button class="btn btn-primary" id="inferno" onclick="banMap('inferno')">Ban Inferno</button>
                </div>
                <div class="card mb-4">
                    <button class="btn btn-primary" id="overpass" onclick="banMap('overpass')">Ban Overpass</button>
                </div>
                <div class="card mb-4">
                    <button class="btn btn-primary" id="dust2" onclick="banMap('dust2')">Ban Dust 2</button>
                </div>
                <div class="card mb-4">
                    <button class="btn btn-primary" id="vertigo" onclick="banMap('vertigo')">Ban Vertigo</button>
                </div>
                <div class="card mb-4">
                    <button class="btn btn-primary" id="train" onclick="banMap('train')">Ban Train</button>
                </div>
                <div class="card mb-4">
                    <button class="btn btn-primary" id="nuke" onclick="banMap('nuke')">Ban Nuke</button>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-dark mb-5">
                <div class="card-header">
                    Team Name: team_{{ all_participants[1].nickname }}
                </div>
            </div>

            {% for i in range(2) %}
            {% if i%2 == 1 %}
            <div class="card text-white bg-dark">
                <div class="card-header">
                    {{ all_participants[i].nickname }}
                </div>
                <div class="container mb-2">
                    <a href="{{ all_participants[i].profile_url }}" target="_blank">Steam Profile</a>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    function removeMap(map) {
        document.getElementById(map).disabled = 'disabled';
        document.getElementById(map).classList.remove('btn-primary');
        document.getElementById(map).classList.add('btn-secondary');
    }

    function hidediv(id) {
        document.getElementById(id).style.display = 'none';
    }

    function showdiv(id) {
        document.getElementById(id).style.display = 'block';
    }

    var socketio = io();


    socketio.on('connect', function (data) {
        socketio.emit('clientid', { id: socketio.id, user_id: {{ user.id }}})
    });

    socketio.on('matchpage', function(data) {
        if (data['mapsbanned']) {
            var maps_banned = data['mapsbanned'];
            len = maps_banned.length;
            for (var i = 0; i < len; i++) {
                var map = maps_banned[i];
                removeMap(map);
            }
        }
        if (data['finalmap']) {
            hidediv('mapvetodiv');
            showdiv('mapchosen');
            document.getElementById('decidedmap').innerHTML = data['finalmap'];
            document.getElementById('connect2server').href = data['ip'];
        }
    });

    socketio.on('mapvetoclient', function(data) {
        users = data['user_id']
        captains = data['capt']
        if (users.includes({{ user.id }})) {
            if (data['map']) {
                hidediv('mapvetodiv');
                showdiv('mapchosen');
                document.getElementById('decidedmap').innerHTML = data['map'];
                document.getElementById('connect2server').href = data['ip'];
                console.log(data['ip']);
            }
            else {
                removeMap(data['banmap']);
            }
        }
    });
</script>

{% if match %}
<script>
    function banMap(map) {
        socketio.emit('mapveto', {userid: {{ user.id }}, banmap: map});
        document.getElementById(map).classList.remove('btn-primary');
        document.getElementById(map).classList.add('btn-secondary');
    }

    function disablevoting() {
        document.getElementById('mirage').disabled = 'disabled';
        document.getElementById('inferno').disabled = 'disabled';
        document.getElementById('dust2').disabled = 'disabled';
        document.getElementById('overpass').disabled = 'disabled';
        document.getElementById('nuke').disabled = 'disabled';
        document.getElementById('train').disabled = 'disabled';
        document.getElementById('vertigo').disabled = 'disabled';
    }

    function enablevoting(maps) {
        var len = maps.length;
        for (var i=0; i<len; i++) {
            document.getElementById(maps[i]).removeAttribute("disabled");
        }
    }

    socketio.on('mapvetocaptain', function(data) {
      console.log(data);
      if (data['turn']) {
        if (data['capt1'] == {{ user.id }}) {
            enablevoting(data['maps_avail']);
        }
        else {
            disablevoting();
        }
      }
      else {
        if (data['capt2'] == {{ user.id }}) {
            enablevoting(data['maps_avail'])
        }
        else {
            disablevoting();
        }
      }
    });
</script>
{% endif %}
{% endblock %}